@model ClassePortfolio.Models.Skill

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
 
            <div class="form-group">

                <partial name="_SkillsForm.cshtml" for="@Model" />

                <input type="submit" value="Add New Skill" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
