@model ClassePortfolio.Models.Skill

@{
    ViewData["Title"] = "Edit";
}

<header class="jumbotron">
    <h1>Derek Peacock - ePortfolio</h1>
    <h2>Skills Edit View</h2>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">

                <partial name="_SkillsForm.cshtml" for="@Model" />

                <input type="submit" value="Save Changes" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
