@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron">
    <h1>Derek Peacock - ePortfolio</h1>
    <h2>Backround, Context and Intentions (3)</h2>
</header>
<main class="row">
    <section class="col-lg-6">
        <h2>Background</h2>
        <p>



            <img src="https://via.placeholder.com/150" />
            My background...

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non ante ornare, dictum massa ut, viverra nibh. Nullam ut mauris mauris. Fusce quam erat, cursus at blandit vel, egestas quis nulla. Quisque pellentesque neque eget blandit tempor. Duis nisi ex, sollicitudin fringilla semper sit amet, sodales at sem. Nulla viverra eros et venenatis porttitor. Cras in lectus et diam scelerisque placerat. Aliquam nec commodo ipsum. Nunc nec dolor consectetur, gravida eros sed, suscipit magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at dignissim ipsum. Nam ac felis sed sem porta finibus ac quis augue. Pellentesque mollis eu erat eget tristique. Morbi pulvinar venenatis interdum. Pellentesque magna tortor, porta quis tellus a, pharetra suscipit dolor.
        </p>
        <h2>Context</h2>
        <p>

        </p>
    </section>
    <section class="col-lg-6">

        <h2>My Intentions</h2>
        <p>
            Quisque cursus tincidunt condimentum. Morbi quis venenatis quam, vitae ullamcorper velit. Maecenas et eros ullamcorper, tincidunt sem et, tristique lorem. Nam in tortor eget sem auctor imperdiet. Nulla rhoncus quam sit amet velit finibus lacinia. Phasellus sit amet magna imperdiet, porttitor felis vitae, facilisis magna. Donec varius felis non posuere venenatis. Morbi mollis sapien fringilla diam ornare, nec varius tortor consectetur. Vivamus et nisl tempus, fermentum risus maximus, commodo tortor. Maecenas eleifend facilisis blandit. Donec in accumsan ipsum, eu maximus tellus. Integer ullamcorper ligula vel nisi bibendum hendrerit. Aenean hendrerit mauris vitae odio pulvinar ultricies.
        </p>
    </section>
</main>